<h1>Mostrar productos</h1>


<div>
    <input type="text" id="message">
</div>

<div>
    <p id="messageLog"></p>
</div>

<form id="form">
    <label for="">Título</label>
    <input type="text" name="title" />
    <label for="">Precio</label>
    <input type="number" name="price" />
    <label for="">Stock</label>
    <input type="number" name="stock" />
    <button type="submit">Enviar</button>
</form>

<div id="productList"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src = "/socket.io/socket.io.js"></script>
<script src = "/js/index.js"></script>

